@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
